workflows/openclaw-agent-pipeline-monitor-v3.json
{
  "name": "OpenClaw Agent Pipeline Monitor - Simple",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openclaw-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Job Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "openclaw-events"
    },
    {
      "parameters": {
        "url": "http://172.23.0.1:18789/webhook/slack-test",
        "authentication": "none",
        "method": "POST",
        "contentType": "application/json",
        "body": "={{ JSON.stringify({text: `Event received: ${JSON.stringify($json.body)}`}) }}",
        "options": {}
      },
      "id": "http-post-slack",
      "name": "HTTP POST - Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {ok: true, received: true} }}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook - Job Events": {
      "main": [
        [
          {
            "node": "HTTP POST - Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP POST - Slack": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {}
}
